{% extends "main/layout.html" %}
{% block title %}
    {{title}}
{% endblock %}
{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <h3><br>Программа предназначена для хранения информации о знаниях и умениях каждого сотрудника и
        оценке каждого сотрудника по соответствию его навыков требованиям проекта.</h3><br>

        <h3>В программе реализован следующий функционал: </h3>
            <h3>ведение списка сотрудников, </h3>
        <h3>ввод требований к позиции на проекте,</h3>
        <h3>оценка соответствия сотрудников поисковому образу</h3>

    </div>




{% endblock %}
