{% extends "main/layout.html" %}
{% block title %}
    {{title}}
{% endblock %}
{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <h3>Система предназначена для сбора информации о знаниях и умениях каждого сотрудника и
        поиска сотрудников с произвольным набором признаков требуемого уровня</h3><br>

        <h3>В системе реализован следующий функционал: ведение базы сотрудников, </h3>
        <h3>ведение расширяемого классификатора знаний и умений,</h3>
        <h3>поиск сотрудников, удовлетворяющий заданному поисковому образу, </h3>
        <h3>планируется разработка отчетов</h3>
    </div>




{% endblock %}
