main table {
            background-color: #ffeeba; /* Фон всей таблицы */
            color: black; /* Цвет текста внутри таблицы */
            border-collapse: collapse; /* Убираем лишние пробелы между ячейками */
            width: 100%; /* Ширина таблицы */

        }

        /* Устанавливаем белый фон для ячеек таблицы */
main th, td {
            background-color: #ffeeba; /* Фон для всех ячеек */
            color: black; /* Цвет текста в ячейках */
            border: 1px solid black; /* Границы между ячейками */
            padding: 8px; /* Внутренние отступы для ячеек */
            text-align: left; /* Текст будет выровнен по левому краю */
        }

        /* Фон для заголовка таблицы */
main th {
            background-color: #f2f2f2; /* Можно сделать чуть серым для контраста */
        }

