{% extends "main/layout.html" %}
{% block title %} {{ article.name }} {% endblock %}
{% block content %}
    <div class="features">
        <h1>{{ article.name }}</h1>
        <p>Должность: {{ article.position }}</p>
        <p>Уровень: {{ article.level }}</p>
        <p>Навыки: {{ article.skill }}</p>
        <a href="{% url 'emplo-update' article.id %}" class="btn btn-info">Редактировать</a>
        <a href="{% url 'emplo-delete' article.id %}" class="btn btn-danger">Удалить</a>
    </div>
{% endblock %}