{% extends "main/layout.html" %}
{% block title %} Персонал {% endblock %}
{% block content %}
    <div class="features">
        <h2>Сотрудники</h2>
        <a href="{% url 'create-emplo' %}" ><button class="btn btn-info"><i class="fas fa-plus-circle"></i>Добавить</button></a>
        {% if emplo %}
            {% for el in emplo %}
                <div class="alert alert-warning">

        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Поле</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Имя:</td>
                    <td>{{ el.name }}</td>
                </tr>
                <tr>
                    <td>Должность:</td>
                    <td>{{ el.position }}</td>
                </tr>
                <tr>
                    <td>Уровень:</td>
                    <td>{{ el.level }}</td>
                </tr>
                <tr>
                    <td>Навыки:</td>
                    <td>{{ el.skill }}</td>
                </tr>
            </tbody>
        </table>

                    <a href="{% url 'emplo-detail' el.id %}" class="btn btn-warning">Детали</a>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас нет записей</p>
        {% endif %}
    </div>
{% endblock %}