<a href="{% url 'create-emplo' %}" ><button class="btn btn-info"><i class="fas fa-plus-circle"></i>Добавить</button></a>
        <form method="post">
            {% csrf_token %}
            {{ form.as_li }}
            <button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle"></i>Добавить1</button>
        </form>
                    <h3>Имя: {{el.name}}</h3>
                    <p>Должность: {{el.position}}</p>
                    <p>Уровень: {{el.level}}</p>
                    <p>Навыки: {{el.skill}}</p>

            {{form.name}}<br>
            {{form.position}}<br>
            {{form.level}}<br>
            {{form.skill}}<br>