<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">Input parametres to see a list of relative goods</p>
            <hr class="my-4">
            <form method="POST">
                {{form.as_ul}}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>

            {% if result %}
                <h3><em>Result: {{result}}</em></h3>

            {% endif %}


        </div>
    </div>

</body>
</html>
