{% extends "main/layout.html" %}
{% block title %} Ввод нового сотрудника {% endblock %}
{% block content %}
    <div class="features">
        <h1>Данные сотрудника_</h1>
        <form method="post">
            {% csrf_token %}
            {{form.name}}<br>
            {{form.position}}<br>
            {{form.level}}<br>
            {{form.skill}}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Сохранить</button>
        </form>
    </div>
{% endblock %}